/* ============ Utility Classes for shop =========== */
.margin{padding-inline: 0.5rem;}
button{cursor: pointer;}
.fas{cursor: pointer;}

/* ============ Shop Feature section =========== */
.shop-feature{
  width: 100vw;
  place-items: center;
  padding: 3rem 0;
  p a{
    text-decoration: none;
    color: black;
  }
}

/* ===== Section 2 ====== */
.shop-main-container{
  width: 90vw;
  margin-inline: auto;
  margin-block: 2rem;
}
.shop-title{
  justify-content: space-between;
  align-items: center;
}
.shop-title select{
  padding: 0.5rem;
  border-radius: 2rem;
}

/* =========== Phones Product ============ */
.shop-product{
  margin-block: 2rem;
}
.product-list{
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
}
.product-list:hover,
.product-list:focus{
  color: hsl(var(--clr-red));
}
.product-list img{
  border-radius: 1rem;
  width: 20rem;
}
.image {
  border-radius: 1rem;
  height: 21rem;
  img{
    width: 16rem;
    margin-left: 3rem;
    margin-top: 2rem;
  }
}
.image5 img{
  height: 20em;
  width: 18.5rem;
  margin-top: 10px;
  margin-left: 2rem;
}
.image6 {
  border-radius: 1rem;
  img{
    width: 20rem;
    margin-left: 15px;
    margin-top: -20px;
    height: 24em;
  }
}
.image7 img{
  height: 22em;
  width: 20rem;
  margin-top:-5px;
  margin-left: 1.3rem;
}
.image8 img{
  height: 19em;
  width: 19rem;
  margin-top: 20px;
  margin-left: 2.5rem;
}
.image9 img{
  height: 19em;
  width: 19rem;
  margin-top: 5px;
  margin-left: 2rem;
}

.shop-btn{
  align-items: center;
  --flex-gap: 3rem;
  transform: translateX(-30%);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}
.product-list:hover .shop-btn{
  transform: translateX(0%);
}
.shop-btn > button{
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

/* ===== Pop Up Box ====== */
.pop-up{
  position: absolute;
  background-color: hsl(var(--clr-red));
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  padding: 1rem;
  color: hsl(var(--clr-white));
}

/* ============== Grid Section =============== */
.shop-product:nth-child(1){
  grid-area: one;
}
.shop-product:nth-child(2){
  grid-area: two;
}
.shop-product:nth-child(3){
  grid-area: three;
}
.shop-product:nth-child(4){
  grid-area: four;
}
.shop-product:nth-child(5){
  grid-area: five;
}
.shop-product:nth-child(6){
  grid-area: six;
}
.shop-product:nth-child(7){
  grid-area: seven;
}
.shop-product:nth-child(8){
  grid-area: eight;
}
.shop-product:nth-child(9){
  grid-area: nine;
}

/* ============== Media Queries =============== */
/* ===== Desktop ====== */
@media (min-width: 59em){
  .shop-main-container{
    --grid-gap: 2rem;
    grid-auto-columns: 1fr;
    grid-template-columns: auto 20vw;
  }
  .shop-main-container >*:first-child{
    grid-column: 1;
  }
  .shop-main-container >*:last-child{
    grid-column: 2;
  }
  .shop-product{
    grid-template-areas: 
    'one two three'
    'four five six'
    'seven eight nine';
  }
  .shop-product > h3{
    font-size: 1rem;
  }
  .sidebar-search{
    padding-inline: 1rem;
  }
  .category-list > h3{
    font-size: 1rem;
  }
  .product-list .shop-btn{
    transform: translateX(-40%);
  }
}

@media (min-width: 35em) and (max-width: 59em){
  .shop-product{
    grid-template-areas: 
    'one two'
    'three four'
    'five six'
    'seven eight';
  }
  .product-list .shop-btn{
    transform: translateX(-42%);
  }
}

/* ============== Sidebar Section =============== */
.sidebar-search{
  border-radius: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.sidebar-search input{
  padding: 1rem 0.5rem;
  width: 80%;
  border-radius: 2rem;
  border: 0;
}
.sidebar-search input:focus{
  outline: none;
}
.sidebar-search input[type="text"]{
  padding-inline: 2rem;
}
.sidebar-search >* i{
  padding: 0.9rem;
  font-size: 1rem;
  border-radius: 50%;
  box-shadow: -2px -0px 18px hsl(var(--clr-gray-light));
}

/* ============== Category List =============== */
.category-list {
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}
.category-list > i{
  font-size: 2rem;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}
.category-list > i[data-category="true"]{
  transform: rotate(90deg);
}
.shop-category-list{
  overflow-y: hidden;
}
.sidebar-nav{
  margin: 0;
  padding: 0;
  padding-inline: 2.5rem;
  list-style: none;
  --gird-gap: 0.8rem;
  transform:  translateY(-100%);
  transition: transform 250ms ease-in-out;
}
.sidebar-nav[data-category="true"]{
  transform: translateY(0%);
}
.sidebar-nav a{
  text-decoration: none;
}